* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 99vh;
    overflow-y: scroll;
    background-color: rgb(3, 3, 16);
    /* border: 2px solid cyan; */
    background-image: url(assignment\ background\ image\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login_box {
    width: 40%;
    height: 250px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(201, 244, 244, 0.5);
    box-shadow: 2px 2px 5px white;
    margin: 200px auto;
}

h1 {
    margin-top: 5px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* padding: 10px; */
    line-height: 50px;
    text-align: center;

}

.parent_button {
    border-color: white;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 20px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    margin: 20px;
    height: 40px;
    width: 90%;
    padding: 10px;
    cursor: pointer;

}

.parent>button {
    color: white;
    border-color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 30px;

}

.parent>button:hover {
    border: 2px solid black;
    box-shadow: -3px 1px 4px rgba(120, 237, 120, 0.6);
    ;
    cursor: pointer;
}

::placeholder {
    color: white;
    opacity: 0.5;
}


#todo {
    /* border: 2px solid rgb(121, 42, 42); */
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px;
}

.todo_block {
    width: 95%;
    height: 125px;
    margin: 0px auto;
    border-top: 2px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
    /* border:2px solid rgb(224, 231, 31);  */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.todo_block>span {
    width: 100%;
    /* border: 2px solid brown; */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.todo_block>div>span {
    width: 100%;
    /* border: 2px solid rgb(251, 143, 61); */
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between; 
}

/* ****************************************(input bar styling)******************************* */

#input_bar{
    display: none;
}
#input_bar_tod_text {
    width: 49.5%;
    height: 50px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
}

#input_bar_catagory {
    width: 19%;
    height: 50px;
    text-align: center;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

#due_date {
    width: 18.7%;
    height: 50px;
    text-align: center;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
}

.save_btn {
    width: 11%;
    height: 50px;
    padding: 13px;
    font-weight: bold;
    color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* border-color: white; */
}

/* ****************************************(Search bar styling)******************************* */
#search_bar{
    display: none;
}

#search_type_dropdown{
    width: 30%;
    height: 50px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
}

#search_bar_center_div{
    width: 38%;
    height: 50px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searching_element_catagory{
    width: 100%;
    height: 50px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    display: none;
}

#search_bar_input_feild{
    width: 100%;
    height: 50px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    display: none;
}

#search_bar_due_date{
    width: 18.7%;
    height: 50px;
    text-align: center;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    display: none;
}

#search_bar_catagory {
    width: 75%;
    height: 49px;
    text-align: center;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 15px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* display: none; */

}

.search_btn {
    width: 30%;
    height: 50px;
    padding: 13px;
    /* font-weight: bold; */
    color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* border-color: white; */
    /* display: none; */

}

.search_btn:hover {
    border: 2px solid black;
    box-shadow: -3px 1px 4px rgba(120, 237, 120, 0.6);;
    cursor: pointer;
}

option {
    text-align: center;
    color: rgb(84, 84, 247);
    font-size: 15px;
}

/* **************************(Add todo button & Search ToDo button styling)******************************* */
.btn {
    width: 49.7%;
    height: 50px;
    padding: 13px;
    /* font-weight: bold; */
    font-size: 15px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* border-color: white; */
}

.btn:hover {
    border: 2px solid black;
    box-shadow: -3px 1px 4px rgba(120, 237, 120, 0.6);;
    cursor: pointer;
}

/* ************************************( ToDo display list styling)********************************************* */

ul {
    width: 95%;
    max-height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0px auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid yellow; */
}

.unchecked_style {
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    /* font-weight: bold; */
    color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkbox_style {
    width: 100%;
    padding-left: 10px;
    font-size: 20px;
    margin: 10px;
    padding: 15px;
    /* font-weight: bold; */
    color: white;
    text-shadow: -3px 1px 4px black;
    background: rgba(231, 243, 145, 0.4);
    backdrop-filter: blur(10px);
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logout_btn {
    width: 95%;
    color: white;
    border-color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    letter-spacing: 30px;


}

.logout_btn:hover,
span>button:hover {
    border-color: black;
    box-shadow: -3px 3px 4px rgba(120, 237, 120, 0.6);
    cursor: pointer;
}

.del_button {
    background-color: transparent;
    /* border-color: white; */
    color: white;
    border: none;
    text-shadow: -3px 1px 4px blue;
    /* background: rgba(120, 237, 120, 0.2); */
    backdrop-filter: blur(10px);
    padding: 10px;
    font-size: 15px;
}


/* *********************** for todo page**************************** */

@media only screen and (max-width : 960px) {

    .todo_block {
        width: 95%;
    }


    #tod_text {
        width: 79%;
    }
}

@media only screen and (max-width: 700px) {

    #login_box {
        width: 60%;
    }

    #todo {
        width: 85%;
    }

}



@media only screen and (max-width: 500px) {

    #login_box {
        width: 80%;
    }

    #todo {
        border: 2px solid rgb(121, 42, 42);
        width: 100%;
        margin: 0px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }


    .del_button {
        /* background-color: transparent; */
        /* border-color: white; */
        /* color: white; */
        border: none;
        text-shadow: -3px 1px 4px blue;
        /* background: rgba(120, 237, 120, 0.2); */
        /* backdrop-filter: blur(10px); */
        padding: 2px;
        font-size: 10px;
    }

    .btn {
        width: 49%;
        height: 25px;
        padding: 5px;
        /* font-weight: bold; */
        font-size: 10px;
        color: white;
        text-shadow: -3px 1px 4px blue;
        background: rgba(225, 225, 225, 0.2);
        backdrop-filter: blur(10px);
        border: none;
    }

    .btn:hover {
        border: 2px solid black;
        box-shadow: -3px 1px 4px rgba(120, 237, 120, 0.6);
        cursor: pointer;
    }

    .unchecked_style {
        width: 100%;
        padding-left: 10px;
        font-size: 10px;
        margin: 2px;
        padding: 10px;
    }
/* 
    .checkbox_style {
        width: 100%;
        padding-left: 10px;
        font-size: 10px;
        margin: 2px;
        padding: 10px;
    } */

    #input_bar_tod_text {
        width: 30%;
        height: 25px;
        color: white;
        text-shadow: -3px 1px 4px blue;
        font-size: 10px;
        background: rgba(225, 225, 225, 0.2);
        backdrop-filter: blur(10px);
        text-align: center;
    }
    
    #input_bar_catagory {
        width: 25%;
        height: 25px;
        text-align: center;
        color: white;
        text-shadow: -3px 1px 4px blue;
        font-size: 10px;
        background: rgba(225, 225, 225, 0.2);
        backdrop-filter: blur(10px);
    }
    
    #due_date {
        width: 20%;
        height: 25px;
        text-align: center;
        color: white;
        text-shadow: -3px 1px 4px blue;
        font-size: 10px;
        background: rgba(225, 225, 225, 0.2);
        backdrop-filter: blur(10px);
    }
    
    .save_btn {
        width: 20%;
        height: 25px;
        padding: 3px;
        font-size: 10px;
        /* font-weight: bold; */
        color: white;
        text-shadow: -3px 1px 4px blue;
        background: rgba(225, 225, 225, 0.2);
        backdrop-filter: blur(10px);
        /* border-color: white; */
    }
    

#search_type_dropdown{
    width: 30%;
    height: 25px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 10px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
}

#search_bar_center_div{
    width: 38%;
    height: 25px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 10px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searching_element_catagory{
    width: 100%;
    height: 25px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 10px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    display: none;
}

#search_bar_input_feild{
    width: 100%;
    height: 25px;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 10px;
    background: rgba(225, 225, 225, 0.1);
    backdrop-filter: blur(10px);
    text-align: center;
    display: none;
}

#search_bar_due_date{
    width: 18.7%;
    height: 25px;
    text-align: center;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 10px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    display: none;
}

#search_bar_catagory {
    width: 75%;
    height: 25px;
    text-align: center;
    color: white;
    text-shadow: -3px 1px 4px blue;
    font-size: 10px;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* display: none; */

}

.search_btn {
    width: 30%;
    height: 25px;
    padding: 3px;
    font-size: 10px;
    /* font-weight: bold; */
    color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    /* border-color: white; */
    /* display: none; */

}

.search_btn:hover {
    border: 2px solid black;
    box-shadow: -3px 1px 4px rgba(120, 237, 120, 0.6);;
    cursor: pointer;
}

option {
    text-align: center;
    color: rgb(84, 84, 247);
    font-size: 10px;
}


.logout_btn {
    width: 100%;
    color: white;
    border-color: white;
    text-shadow: -3px 1px 4px blue;
    background: rgba(225, 225, 225, 0.2);
    backdrop-filter: blur(10px);
    text-align: center;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 30px;
}

.logout_btn:hover,
span>button:hover {
    border-color: black;
    box-shadow: -3px 3px 4px rgba(120, 237, 120, 0.6);
    cursor: pointer;
}


}

@media only screen and (max-width: 350px) {

    #login_box {
        width: 95%;
        margin: 150px auto;
    }

    h1 {
        font-size: 20px;
    }

    .parent>button {
        padding-right: 10px;
    }
    ul {
        width: 100%;
        max-height: 65vh;
        overflow-y: scroll;
        overflow-x: hidden;
        margin: 0px auto;
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center;
        justify-content: space-between; */
        /* border: 2px solid yellow; */
    }


}